
:global {
  body {
    font-weight: 300;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
    }

    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2.125em;
    }
    h3 {
      font-size: 1.75em;
    }
    h4 {
      font-size: 1.375em;
    }
    h5 {
      font-size: 1em;
    }
    h6 {
      font-size: .8em;
    }

    section {
      padding: 2em 1em;
    }
  }
}
