@import '../../../styles/mixins';
@import '../../../styles/colors';

.section {
  padding: 2em 1em;
  background: $lightGrey;
}

.container {
  @include container;
}

.logo {
  flex: 1 1 100%;

  img {
    width: 100%;
  }

  @include media(sm) {
    flex: 0 1 30em;
  }
}