@import '../../styles/breakpoints';
@import '../../styles/colors';

.footer {
  display: flex;
  padding: 2em;
  text-align: center;
  color: $white;
  flex-flow: row wrap;
  background-color: $primary;
}

.copyright {
  flex: 1 1 100%;
}

.socialLinks {
  padding: 1em 0;
  flex: 1 1 100%;
  font-size: 2em;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $lightGrey;
    }
  }
}

.links {
  flex: 1 1 100%;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $lightGrey;
    }
  }
}
