@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.value {
  flex: 1 1 100%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 2em;

  @include media(md) {
    flex: 0 1 33%;
    padding: 0 1em;
  }
}

.image {
  width: 100%;
  max-height: 7em;
}

.title {
}

.body {
}