@import '../../../styles/mixins';
@import '../../../styles/colors';

.section {
  padding: 2em 1em;
  background: url('./recruitment.jpg') center center;
  background-size: cover;
}

.container {
  @include container;
  min-height: 55vh;
}

.text {
  flex: 1;
  text-align: center;
  color: $white;
}